@page "/author/"
@page "/author/{id}"
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http

<PageTitle>Author</PageTitle>

<div>
    <EditForm OnSubmit="Save" Model="CurrentAuthor" class="row g-3">
        <div class="col-md-6">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" value="@CurrentAuthor.FirstName">
        </div>
        <div class="col-md-6">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" value="@CurrentAuthor.LastName">
        </div>
        <div class="col-12">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="test@company.com" value="@CurrentAuthor.UserEmailAddress">
        </div>
        <div class="col-md-6">
            <label for="homePhone" class="form-label">Home phone</label>
            <input type="text" class="form-control" id="homePhone">
        </div>
        <div class="col-md-6">
            <label for="mobilePhone" class="form-label">Cell phone</label>
            <input type="text" class="form-control" id="mobilePhone">
        </div>
        <div class="col-3">
            <label for="streetNumber" class="form-label">Number</label>
            <input type="text" class="form-control" id="streetNumber" placeholder="12">
        </div>
        <div class="col-6">
            <label for="streetName" class="form-label">Street</label>
            <input type="text" class="form-control" id="streetName" placeholder="Main Street">
        </div>
        <div class="col-3">
            <label for="zip" class="form-label">Zip code</label>
            <input type="text" class="form-control" id="zip">
        </div>
        <div class="col-4">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city">
        </div>
        <div class="col-4">
            <label for="inputState" class="form-label">Country</label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>France</option>
                <option>India</option>
                <option>USA</option>
            </select>
        </div>
        <div class="col-4">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Block author (prevents access to their books, in case of proven misconduct)
            </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </EditForm>
</div>

@code {
    [Parameter]
    public string? id { get; set; }

    private DTO.Author? CurrentAuthor = new DTO.Author();

    protected override async Task OnInitializedAsync()
    {
        if (id != null)
        {
            CurrentAuthor = await Http.GetFromJsonAsync<DTO.Author>(@"http://authors/Authors/" + id);

            // Clone to generate a JSONPatch
        }
    }

    protected async void Save()
    {
        if (id == null)
        {
            await Http.PostAsJsonAsync<DTO.Author>(@"http://authors/Authors/", CurrentAuthor);
            // NavigationManager back to list of authors
        }
    }
}
