<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">portal-gui</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="identity">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Identity
                    </NavLink>
                </div>
                @if (context.User.IsInRole("editor"))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="books">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Books
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="authors">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Authors
                        </NavLink>
                    </div>
                }
                @if (context.User.IsInRole("director"))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="sales">
                            <span class="bi bi-currency-dollar-nav-menu" aria-hidden="true"></span> Sales
                        </NavLink>
                    </div>
                }
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
